body {
  font-family: Baskerville, Palatino, "Palatino Linotype", Georgia, serif;
  font-size: 12pt;
  margin: 2em 4em;
}
h1, h2, h3, h4, #header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
h1 { font-size: 18pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }
pre, code {
  font-family: "Menlo", "Consolas", "New Courier", Courier, monospace;
  font-size: 10pt;
  color: #060;
}


#header .title {
  text-align: right;
  font-weight: bolder;
  font-size: 28pt;
}
.title a {
  text-decoration: none;
  color: #600;
}
#sidebar {
  display: none;
}


#content {
  margin-top: 2em;
}

#footer {
  margin: 2em 0;
}
